@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* WebKit */
::-webkit-scrollbar {
    width: 10px;
    transition: all 1s ease-in-out;
    border: none;
  }

.left-menu:hover::-webkit-scrollbar-thumb, .main-content:hover::-webkit-scrollbar-thumb {
    display: block;
}
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #585956; 
    border-radius: 10px;
    border: none !important;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #585956;
    display: none;
    border-radius: 16px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6e6e6db4; 
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fx-3 {
    transition: all .5s ease-in-out;
}

html {
    scroll-behavior: smooth;
  }

.space-1 {
    width: 100%;
    margin-bottom: 18px;
}

.grid {   
    display: grid;
    grid-template-columns: .15fr 2fr;
    }
.grid-1 {   
    display: grid;
    grid-template-columns: .4fr 2fr;
    }
    .grid-2 {   
    display: grid;
    grid-template-columns: 2fr 2fr;
    }
.grid-4 {   
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
}

/* Flex Grid */
.flex-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));

}

body {
    background: #212121;
}
header {
    background: #202020;
    height: 10vh;
}
header nav {
    height: 10vh;
    color: #dbd8d8;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    position: relative;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    
}
.left-menu, .main-content {
    height: calc(100vh - 10vh);
    overflow: auto;
}

/* Logo */
.nav-logo .toggle-button, span {
    display: inline-block;
}
.nav-logo a {
    color: #dbd8d8;
}
.nav-logo span {
    float: right;
    font-size: 2rem;
    letter-spacing: 1px;
    margin-left: 2rem;
}
.nav-logo .toggle-button {
    border: none;
    background: none;
    font-size: 2.1rem;    
}

/* Nav Search */
.nav-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 50%;
}
.nav-search .search-box, .show-nav-search .search-box {
    border: 1px hsl(0, 0%, 18.82%) solid !important;
    height: 30px;
    width: 100%;
}
.nav-search input[type=text] {
    border: none;
    width: 100%;
    height: 100%;
    background: #121212;
    padding: 1rem;
}
.nav-search input[type=text]:focus, .hidden-nav-search-container .search-box input[type=text]:focus, textarea{
    outline: none;
}
.nav-search .search-button {
    background: #323232;
    border: none;
    padding: .5rem;
    width: 65px;
    color: #999999;
}
.nav-search .search-button i {
    font-size: 1.5rem;
}
.nav-search span {
    margin-left: 1rem;
}
.nav-search .search-microphone {
    color: #dbd8d8;
    border: none;
    background: none;
    font-size: 1.5rem;
    margin-top: .8rem;
}
.nav-search .search-microphone i {
    font-size: 2.1rem;    
    text-align: center;
}

.nav-search-hidden {
    display: none;
}
.nav-search-hidden .search-button, .back-search-button {
    background: none;
    border: none;
    font-size: 2rem;
    color: #999999;
    padding: 1rem;
}
.nav-search-hidden .search-microphone {
    color: #dbd8d8;
    border: none;
    background: none;
    padding: 1rem;
    font-size: 2rem;
}
.hidden-nav-search {
    display: none;
}
.hidden-nav-search-container {
    margin: 8px auto;
    padding-left: 4rem;
}
.hidden-nav-search-container .search-box{
    border: none !important;
}
.hidden-nav-search-container .search-box input[type=text]{
    border: none;
    width: 65%;
    height: 2.9rem !important;
    background: transparent;
    border: 1px hsl(0, 0%, 18.82%) solid !important;
    background: #121212 !important;
    border-radius: 3px !important;
    padding: 1rem;
}
.hidden-nav-search-container .search-button {
    background: #323232;
    border: none;
    padding: .5rem;
    width: 45px;
    margin-left: -0.4rem;
    color: #999999;
}
.hidden-nav-search-container .search-microphone {
    color: #dbd8d8;
    border: none;
    background: none;
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
}
.hidden-nav-search-container .search-microphone i {   
    text-align: center;
}
.show-nav-search {
    position: absolute;
    left: 0;
    top: 0;
    background: #212121;
    width: 100%;
    height: 100%;
    z-index: 9999;
}
.nav-search-container {
    margin: 0 auto;
}
.show-nav-search .search-box, .search-button, .show-nav-search span {
    display: inline;
}
.show {
    display: block !important;
    position: absolute;
    
}
.more-less {
    display: none;
}
.hide {
    display: none !important;
}

/* User */
.user {
    width: 185px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-right: 1rem;
}
.user span svg {
    background-color: none !important;
    width: 3rem !important;
    height: 3rem !important;
}
.user span svg path, .user span i {
    fill: #dbd8d8;
    color: #dbd8d8;
}
.user span .user-profile {
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50%;
    overflow: hidden;
}

/* Side Menu */
.menu {
    padding-top: 1rem;
    width: 100%;
}
.menu-header {
    font-size: 1.4rem;
    margin-left: 2rem;
    color: #999999;
    font-weight: 600;
}
.side-menu {
    width: 100%;
    margin-right: 5px;
}
.side-menu .side-menu-items {
    list-style: none;
    padding-left: 1rem;
    padding-right: 1rem;
}
.side-menu .side-menu-items a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    padding: .5rem .5rem .5rem 1.6rem;
}
.side-menu .side-menu-items a .svg {
    margin-right: 1rem;
}
.side-menu .side-menu-items a svg {
    width: 25px !important;
}
.side-menu .side-menu-items a span {
    margin-left: .2rem;
    padding: 3px;
    font-weight: 400;
    font-size: 1.3rem;
    white-space: nowrap; 
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

/* Main Menu */
.active-left-menu .active-side-menu .active-side-menu-items a svg {
    margin: 0 auto;
}
.active-side-menu .active-side-menu-items a .svg svg {
    width: 25px !important;
}
.active-left-menu .active-side-menu {
    margin: 0 auto !important;
}
.active-left-menu .active-side-menu .active-side-menu-items {
    padding: .5rem 0;
}
.active-left-menu .active-side-menu .active-side-menu-items a {
    display: block;
    color: #909090;
    text-align: center;
    font-size: 1.2rem !important;
}
.active-left-menu .active-side-menu .active-side-menu-items a span {
    width:fit-content;
}


.active-side-menu .active-side-menu-items:hover {
    width: 100%;
    background: rgb(61, 61, 61);
}
.active-side-menu .active-side-menu-items:hover span, .active-side-menu .active-side-menu-items a:hover path {
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}
.left-menu {
    width: 28rem;
}
.active-left-menu {
    display: none;
}

/* Subscriptions */
.side-menu .side-menu-items .channel-logo {
    width: 35px;
    height: 35px;
    overflow: hidden;
    border-radius: 50%;
}
.side-menu .side-menu-items .channel-link span{
    margin: 6px 0 0 5px;
}
.side-menu .side-menu-items a .subscription-svg {
    width: 15px !important;
    height: 15px !important;
    margin-top: 11px;
    margin-left: 5px;
}
.side-menu .side-menu-items a .subscription-svg .dot-blue {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: #3ea6ff;
}
.side-menu .side-menu-items a .subscription-svg svg {
    width: 100% !important;
}
.side-menu .side-menu-items a .svg .glyphicon {
    color: #909090 !important;
    font-size: 1.8rem;
    margin-left: 4px;
}
.side-menu .side-menu-items a .subscription-svg svg path {
    fill: #f00;
}
.side-menu .side-menu-items a:hover .streaming path {
    fill: rgb(185, 22, 22) !important;
}

.side-menu .side-menu-items span, svg path {
    color: #909090;
    fill: #909090;
}
.side-menu .side-menu-items a:hover svg path {
    fill: #FFFFFF !important;
}

.side-menu .side-menu-items a:hover {
    background: rgb(61, 61, 61);
}
.side-menu .side-menu-items a:hover span {
    color: #FFFFFF !important;
}

.active {
    background: rgb(61, 61, 61);
    color: #FFFFFF !important;
    fill: #FFFFFF !important;
}

.show-less {
    display: none;
}
.show-more {
    display: block;
}

/* Main Content */
.main-content {
    background: #181818;
    width: 100%;
}

/* Category Slider */
.category-item {
    padding: 1rem 2rem 1rem 2rem;
    text-align: center;
    margin: 1rem auto;
    position: relative;
}
.category-item a {
    display: inline-block;
    border: 1px #5f5f5f5b solid;
    padding: .5rem 1.3rem;
    border-radius: 18px;
    margin: 5px 2px;
    box-shadow: inset 0 0 2px #5859566b;
    color: #909090;
    text-decoration: none;
}
.category-item a:hover {
    box-shadow: inset 0 0 6px #5859566b; 
    color: #ffffffab !important;
}

/* Banner */
.banner .image {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
    display: block;
    object-fit : cover;
}
.banner .image img {
    min-height: 275px !important;
    width: 100%;
    object-fit : cover;
}
.banner .button {
    position: absolute;
    bottom: 25%;
    left: 5rem;
   
}
.banner .button button {
    border: 2px #909090 solid;
    padding: 1rem;
    font-size: 1.6rem;
    color: #909090;
    border-radius: 2px;
    background: transparent;
}

/* Main Contents */
.contents {
    padding: 1rem;
}
.card {
    padding: .6rem;
}
.video-container {
    border: 1px #90909027 solid;
    border-radius: 3px;
}
.video-content {
    height: 245px;
    position: relative;
}
.video-content video[poster]{
    object-fit: cover;
}
.video-content:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.video-content .overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e812244f;
    font-size: 4rem;
    opacity: 0;
}
.video-content:hover i {
    opacity: 1;
}
.video-content i:hover {
    color: #e8122485;
}
.video-content video {
    object-fit: fill;
    height: 100%;
}
.content-details {
    border-top: 0;
    padding: 1rem .8rem;
}
.content-info .channel-logo, .content-title {
    display: inline-block;
}
.content-info .channel-logo {
    width: 4rem;
    height: 4rem;
    overflow: hidden;
    border-radius: 50%;
}
.content-info .content-title {
    width: 75%;
    margin-left: .7rem;
}
.content-info .content-title a {
    text-decoration: none;
}
.content-info .content-title h4 {
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #dbd8d8a1;
}
.content-info .content-title h4:hover {
    color: #dbd8d8c9;
}
.content-details .details {
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-details .details a {
    text-decoration: none;
}
.content-details .details h4 {
    font-size: 1.3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #dbd8d8a1;
}
.content-details .details h4:hover {
    color: #dbd8d8c9;
}
.content-details .details span {
    margin-left: 1rem;
    color: #dbd8d8a1;
}
.content-details .views {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dbd8d863;
}
.dot-gray {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #ffffff62;
    margin: 0 1.3rem;
}

/* ================================================================ */
/* Single Video */
.single-main {
    position: relative;
}
.video-js .vjs-big-play-button {
    color: #dbd8d894;
}
.single-side-menu {
    height: calc(100vh - 10vh) !important;
    overflow: auto;
    padding: .5rem 0;
    position: absolute;
    background: #212121;
    z-index: 999;
}
.single-side-menu:hover::-webkit-scrollbar-thumb {
    display: block;
}
.single-video-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding: 2rem;
    overflow: auto;
}
.single-video, .related-video {
    padding: 1rem;
    overflow: auto;
}
.single-video {
    width: 60%;
}
.single-video::-webkit-scrollbar {
    display: none;
  }
.related-video {
    width: 35%;
}
.info-details {
    margin-top: 3rem;
    padding: 1rem;
}
.video-title {
    color: #dbd8d8c4;
    font-weight: 600;
}
.video-tags {
    display: inline-block;
}
.video-tags span {
    display: inline-block;
    color: #dbd8d84d;
    border: 1px hsl(0, 0%, 18.82%) solid;
    padding: .3rem 1rem;
    border-radius: 10px;
}
.video-status {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 1.5rem;
}
.channel-name .left-status {
    color: #dbd8d87e;
    font-size: 1.2rem;
    
}
.video-status .right-status .icons-container {
    font-size: 1.2rem;
}
.video-status .right-status .icons-container, svg path {
    display: flex;
    color: #dbd8d87e;
    fill: #dbd8d87e;
}
.video-status .right-status .icons-container .share-button:hover, .video-status .left-status .icons-container .save-button:hover{
    color: #dbd8d8a8;
}
.video-status .right-status .icons-container button:hover svg path {
    fill: #dbd8d8a8;
}
.video-status .right-status .icons-container button {
    display: flex;
    justify-content: center;
    justify-items: center;
    background: none;
    border: none;
    padding: .5rem;
}
.video-status .right-status .icons-container button span {   
    padding: .4rem;
}
.video-status .right-status .icons-container button svg {
    width: 2.1rem !important;
    height: 2.1rem !important;
}
.channel {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px hsl(0, 0%, 18.82%) solid;
}
.channel .user-info {
    display: flex;
}
.channel .user-info .channel-logo {
    overflow: hidden;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.channel .user-info .channel-name {
    margin-left: 2rem;
    color: #dbd8d8af;
}
.channel .user-info .channel-name h4 {
    display: block;
    margin: 0 !important;
    color: #dbd8d8;
    font-weight: 400;
}
.channel .user-info .channel-name small {
    display: block;
    font-size: 1.2rem;
}
.channel .user-info .channel-name .left-status {
    display: block;
    margin-top: 1rem;
    font-size: 1.2rem;
}
.channel .subscribe .subcribe-button {
    border: none;
    background: #c00;
    color: #dbd8d8d8;
    border-radius: 3px;
    padding: .8rem;
    font-size: 1.5rem;
}
.video-text-details {
    margin-top: 1rem;
    border-top: 1px hsl(0, 0%, 18.82%) solid;
    padding: 1rem 7.8rem;
}
.video-text-details p {
    color: #dbd8d8d8;
    letter-spacing: .01rem;
    overflow: hidden;
}
.toggleDetails {
    height: 95px;
}
.showMoreLess {
    padding: .5rem;
    margin-top: 1rem;
    margin-left: 0;
    font-size: 1.2rem;
    color: #dbd8d8d8;
    background: transparent;
    border: none;
    border-radius: 3px;
}
.showButton {
    display: block;
}
.hideButton {
    display: none;
}

/* Comments */
.info-details .comments {
    margin-top: 1.8rem;
    border-top: 1px hsl(0, 0%, 18.82%) solid;
}
.comment-count {
    padding: 1.8rem 0;
}
.comment-count span {
    color: #dbd8d8d8;
    font-weight: 400;
}
.comment-count button {
    margin-left: 4rem;
    border: none;
    background: none;
    color: #dbd8d8d8;
    font-weight: 600;
}
.postcomment {
    display: inline-flex;
    width: 100%;
}
.postcomment .user-profile {
    width: 55px;
    height: 55px;
    overflow: hidden;
    border-radius: 100%;
}
.postcomment .form {
    width: 100%;
    padding-left: 2rem;
}
.form textarea:focus {
    border: none;
}
.form textarea {
    border: none;
    background: none;
    border-bottom: 1px hsl(0, 0%, 18.82%) solid !important;
    width:100% !important;
    min-height: 55px;
    overflow: auto;
    color: #dbd8d8d8;
}
.form textarea::-webkit-scrollbar {
    display: none;
  }
.form .buttons {
    float: right;
    padding-top: .5rem;
}
.form .buttons button {
    padding: .7rem;
}
.form .buttons button {
    padding: .7rem;
    font-size: 1.5rem;
}
.form .buttons button, .cancel-button {
    border: none;
    background: none;
    color: #AAAAAA;
}
.form .buttons button:nth-child(2) {
    border: none;
    background: #303030;
    color: #717171;
    margin-left: .5rem;
    border-radius: 3px;
}

/* Public Comments */
.public-comments {
    margin-top: 1.8rem;
}
.user-comment, p {
    margin-top: 1rem;
}
.public-comments .main-comment .public-comment, .user-comment {
    display: flex;
}
.user-reply {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    overflow: auto;
    height: 550px;
}
.formButtons {
    display: none;
}
.user-reply::-webkit-scrollbar {
    display: none;
  }
.user-reply .reply-comment{
    margin-top: 1.5rem;
}
.user-reply .reply-comment {
     margin-left: 7rem;
}
.public-comments .user-profile {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 100%;    
}
.public-comments .date-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 1.4rem;
    font-size: 1.3rem;
}
.public-comments .date-comment .username {
    color: #FFFFFF;
    font-weight: 400;
}
.public-comments .date-comment .date-commented {
    padding-left: 2rem;
    color: #ffffff91;
}
.public-comments .user-comment {
    display: flex;
    flex-direction: column;
    padding-left: 7rem;
    color: #FFFFFF;
}
.public-comments .user-comment p, .reacts {
    display: block;
}
.user-comment .reacts {
    margin-top: -.6rem;
    align-self: flex-start;
}
.user-comment .reacts .react-icons {
    display: flex;
    flex: 1;
    padding: .4rem;
    justify-content: space-between;
}
.user-comment .reacts .react-icons button, .reply-button {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    justify-items: center;
    background: none;
    border: none;
    font-size: 1.2rem;
    padding: .5rem;
}
.user-comment .reacts .react-icons button span {
    margin: .5rem .8rem;
}
.user-comment .reacts .react-icons .reply-button {
    padding-top:  .9rem;
}
.user-comment .reacts .react-icons .reply-button:hover {
    cursor: pointer;
}
.user-comment .reacts .react-icons button svg {
    width: 18px !important;
    height: 18px;
}

/* Related Videos */
.related-video::-webkit-scrollbar-thumb {
    background: #585956;
    display: none;
    border-radius: 16px;
  }
.related-video {
    width: 40%;
}
.related-video:hover::-webkit-scrollbar-thumb {
    display: block;
  }
.related-video-container ul li {
    padding: .5rem 0;
}
.related-video-container ul li .video-container {
    border: none;
    display: flex;
}
.related-video-container ul li .video-container .video {
    position: relative;
    width: 225px;
}
.related-video-container ul li .video-container .video video[poster]{
    object-fit: cover;
}
.related-video-container ul li .video-container .video:hover .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: rgba(0,0,0,0.3);
}
.related-video-container ul li .video-container .video .overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #e812244f;
    font-size: 4rem;
    opacity: 0;
}
.related-video-container ul li .video-container .video:hover i {
    opacity: 1;
}
.related-video-container ul li .video-container .video i:hover {
    color: #e8122485;
}
.related-video-container ul li .video-container .info{
    overflow: hidden;
    padding: 1rem;
}
.related-video-container ul li .video-container .info a {
    text-decoration: none;
}
.related-video-container ul li .video-container .info h4{
    font-size: 1.7rem;
    font-weight: 600;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #dbd8d8d8;
}
.related-video-container ul li .video-container .info h4:nth-child(2){
    color: #dbd8d8af;
    font-size: 1.3rem;
}
.related-video-container ul li .video-container .info small {
    color: #dbd8d89f;
    margin-top: 5rem;
}

/* Channel Page */
/* Multitab https://codepen.io/EightArmsHQ/pen/rNBZKNZ */
* {
    font-family: 'Work Sans', sans-serif;
}
label{
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    display: inline-block;
    color: inherit;
    transition: border 0.2s;
    border-bottom: 1px solid #dbd8d8a4;
    padding: 3px 2px;
}
.layout {
    display: grid;
    width: 100%;
    height: calc(100vh - 10vh);
    overflow: hidden;
    grid-template-rows: 6vh 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    
}
input[type="radio"] {
    display: none;
}
label.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: transparent;
    user-select: none;
    transition: background 0.4s, padding-left 0.2s;
    padding-left: 0;
}
input[type="radio"]:checked + .page + label.nav {
    border-bottom: 5px #DBD8D8 solid;
    color: #DBD8D8;
    padding-left: 20px;
}
input[type="radio"]:checked + .page + label.nav span {
    padding-left: 20px;
    color: #DBD8D8;
}
input[type="radio"]:checked + .page + label.nav svg {
    opacity: 1;
}
label.nav span {
    padding-left: 0px;
    position: relative;
    color: #dbd8d8a4;
}
label.nav svg {
    left: 0;
    top: -3px;
    position: absolute;
    width: 15px;
    opacity: 0;
    transition: opacity 0.2s;
}
.page {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: span 5;
    padding: 0px 20px;
    display: flex;
}
.page-contents {
    overflow: auto;
    height: calc(100vh - 16vh);
}
.page-contents::-webkit-scrollbar {
    display: none;
  }
.page-contents > * {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.2s, transform 0.2s;
}
.page-contents > *:nth-child(1) {
    transition-delay: 0.4s;
}
.page-contents > *:nth-child(2) {
    transition-delay: 0.6s;
}
.page-contents > *:nth-child(3) {
    transition-delay: 0.8s;
}
.page-contents > *:nth-child(4) {
    transition-delay: 1s;
}
.page-contents > *:nth-child(5) {
    transition-delay: 1.2s;
}
.page-contents > *:nth-child(6) {
    transition-delay: 1.4s;
}
.page-contents > *:nth-child(7) {
    transition-delay: 1.6s;
}
.page-contents > *:nth-child(8) {
    transition-delay: 1.8s;
}
.page-contents > *:nth-child(9) {
    transition-delay: 2s;
}
.page-contents > *:nth-child(10) {
    transition-delay: 2.2s;
}
.page-contents > *:nth-child(11) {
    transition-delay: 2.4s;
}
.page-contents > *:nth-child(12) {
    transition-delay: 2.6s;
}
.page-contents > *:nth-child(13) {
    transition-delay: 2.8s;
}
.page-contents > *:nth-child(14) {
    transition-delay: 3s;
}
.page-contents > *:nth-child(15) {
    transition-delay: 3.2s;
}
.page-contents > *:nth-child(16) {
    transition-delay: 3.4s;
}
.page-contents > *:nth-child(17) {
    transition-delay: 3.6s;
}
.page-contents > *:nth-child(18) {
    transition-delay: 3.8s;
}
.page-contents > *:nth-child(19) {
    transition-delay: 4s;
}
.page-contents > *:nth-child(20) {
    transition-delay: 4.2s;
}
input[type="radio"] + .page {
    transition: transform 0.2s;
    transform: translateX(100%);
}
input[type="radio"]:checked + .page {
    transform: translateX(0%);
}
input[type="radio"]:checked + .page .page-contents > * {
    opacity: 1;
    transform: translateY(0px);
}
.page-contents {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
.page-contents h1 {
    color: #DBD8D8;
    font-size: 2rem;
    font-weight: 600;
}
.page-contents .label {
    color: #DBD8D8;
    font-size: 1.9rem;
    font-weight: 600;
    padding-left: 8.7rem;
}


/* Multitab Contents  */
.user-channel {
    height: 18.5vh;
    padding: 0 5rem;
}
.user-channel .channel-logo {
    margin: 1.5rem auto;
    width: 95px;
    height: 95px;
    overflow: hidden;
    border-radius: 50%;
}
.user-channel .channel-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
}
.user-channel .channel-page h4 {
    color: #DBD8D8;
    font-size: 2.5rem;
    font-weight: 600;
}
.user-channel .channel-page small {
    font-size: 1.8rem;
    color: #dbd8d8a4;
}
.user-channel .channel-page .customize-buttons button {
    background: #3EA6FF;
    padding: .8rem 1.8rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    border-radius: 2px;
}

/* Tab Header */
  .show {
      display: block;
    }

.tab-header {
    display: flex;
    justify-content: space-between;
    padding-top: 2rem;
}
.tab-header .title-header {
    display: flex;
    padding-top: 3rem;
}
.tab-header .title-header {
    margin-top: -1rem;
}
.tab-header .title-header .play-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    padding-left: 2rem;
}
.tab-header .title-header .play-button svg {
    width: 25px !important;
    height: 25px !important;
}
.tab-header .title-header .play-all, svg {
    display: flex;
    align-content: center;
}
.tab-header .title-header .play-all, .play-button a  {
    text-transform: uppercase;
    padding-left: .5rem;
    color: #DBD8D8;
    text-decoration: none;
}
.sort-by {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between;
    padding-left: 2rem;
}

/* About Page */
.channel-info {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
}
.channel-info .left-info {
    border: none;
    width: 100%;
    margin-right: 9rem;
    border-bottom: 1px #AAAAAA solid;
    padding-bottom: 4rem;
}
.channel-info .left-info p {
    color: #AAAAAA;
    padding-top: 1rem;
}
.channel-info .right-info {
    border: none;
    width: 350px;
}
.channel-info .right-info ul {
    margin-top: 3rem !important;
    margin: 0 auto;
}
.channel-info .right-info li {
    list-style: none;
    padding: 1rem;
    border: none;
    border-bottom: 1px #AAAAAA solid;
    color: #DBD8D8;
    font-size: 1.8rem;
    font-weight: 500;
}

/* Subecription Page */
.my-subscription {
    margin-top: 1.5rem;
}
.my-subscription .channel-logo {
    width: 125px;
    height: 125px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    margin: 0 auto;
}
.my-subscription .channel-page .channel-name {
    text-align: center;
}
.my-subscription .channel-page .channel-name a {
    text-decoration: none;
}
.my-subscription .channel-page .channel-name h4 {
    font-size: 1.7rem;
    color: #DBD8D8;
}
.my-subscription .channel-page .channel-name small {
    margin-top: -3rem;
    font-size: 1.5rem;
    color: #AAAAAA;
}
.channel-page .channel-name .subscribed {
    background: #272727;
    padding: .5rem .7rem;
    border: none;
    font-size: 1.5rem;
    border-radius: 3px;
    text-transform: uppercase;
    color: #AAAAAA;
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .grid-4 {         
        grid-template-columns: 2fr 2fr 2fr;
        }
        .user {
            width: 20% !important;
        }
        .video-status .left-status {
            font-size: 1.3vw;
        }
        .single-video-container {
            display: inline-block;
        }
        .related-video {
            width: 100%;
            margin-top: 1rem;
            border-top: 1px hsl(0, 0%, 18.82%) solid;
        }
        .related-video-container ul li .video-container .info{
            width: 100%;
        }
        .video-status .right-status .icons-container button svg {
            width: 2.1vw !important;
            height: 2.1vw !important;
        }
        .video-status .right-status .icons-container button {
            font-size: 1.2vw;
        }
        .single-video-container .single-video {
            width: 100%;
        }
}

@media screen and (max-width: 768px) {
    .grid-4 {         
        grid-template-columns: 2fr 2fr;
        }
    .nav-search {
        width: 40% !important;
        }
        .user {
            width: 28% !important;
        }
        .video-tags span {
            margin-top: .5rem;
            font-size: 2vw;
        }
        .video-title {
            font-size: 2.5vw;
        }
        .video-status .right-status .icons-container button svg {
            width: 2.8vw !important;
            height: 2.8vw !important;
        }
        .video-status .right-status .icons-container button {
            font-size: 1.8vw;
        }
        
        .banner .button  {
            font-size: 5vw;
        }
        .user-channel .channel-page .channel-name, .customize-buttons {
            display: block !important;
        } 
    }
    
@media screen and (max-width: 576px) {
    .grid-4 {         
        grid-template-columns: 2fr;
        }
    .grid-2 {   
        grid-template-columns: 2fr;
    }
    .nav-search {
        display: none !important;
    }
    .nav-search-hidden {
        display: block !important;
        margin: 0 auto;
    }
    .user {
        width: 40% !important;
    }
    .video-tags span {
        margin-top: .5rem;
        font-size: 2vw;
    }
    .video-title {
        font-size: 2.5vw;
        line-height: 1.6rem;
    }
    }
    
@media screen and (max-width: 529.99px) {
    .grid-4 {         
        grid-template-columns: 2fr;
        }
    .grid-2 {   
        grid-template-columns: 2fr;
    }
    
    .video-text-details {
        padding: 0;
    }
    .video-text-details p {
        width: 100%;
    }
    .video-container {
        display: block !important;
    }
    .video-container .video {
        width: 100% !important;
    }
    .video-container .info h4 {
        font-size: 1.8rem !important;
    }
    .video-container .info h4:nth-child(2) {
        font-size: 1.4rem !important;
    }
    .video-container .info .release {
        font-size: 1.3rem !important;
    }
    }
    
@media screen and (max-width: 480.99px) {
    .nav-search-hidden span, .hidden-nav-search-container span {
        display: none;
    }
    }